* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* overflow: hidden; */
}
#uperDiv {
    width: 100vw;
    height: 40px;
    background-color: rgb(211, 47, 47);
     color: white;
    padding-left: 10%;
    padding-top: 10px;
}
#uperDiv a {
    color: white;
   text-decoration: none;
   font-size: 20px;
   font-weight: 200;
 

}
#lowerDiv {
    width: 100vw;
    height: 60px;
    background-color: black;
    padding-left: 10%;
    padding-top: 5px;
    
    
}
#lowerDiv img {
    height: 30px;

}
#lowerDiv a {
    text-decoration: none;
    color: white;

}

.child {
    display: inline-block;
}
.child a {
    padding-left: 40px;

    
}
#nav_button {
    margin-left: 400px;
    padding: 22px;
    background-color: rgb(211, 47, 47);
    color: white;
    border: none;

}
.child_card img {
    width: 230px;

    
}
.cards {
    display: flex;
    justify-content: center;
    column-gap: 3%;
    
}
.child_card {
    padding-top: 3%;
}
.heading {
    font-size: 20px;
    margin-top: 7%;
    word-spacing: 5px;
    letter-spacing: 1px;
   font-weight: 400;
}
.content {
    word-spacing: 4px;
    padding-top: 5%;
    text-align: justify;
    
}
.buttons {
    padding: 5px 20px;
    background-color: rgb(13, 13, 77);
    color: white;
    margin-top: 10%;
    border: none;
}
.buttons:hover {
    background-color: rgb(90, 77, 77);
}
span {
    color: red;
    letter-spacing: 4px;
    word-spacing: 5px;
}
#main_heading {
    margin-top: 10px;
    margin-left: 8%;
}

