* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container1 {
    width: 100vw;
    height: 50px;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-around;
    align-items: center;
    background-color: rgb(211, 47, 47);
    color: #fff;

}

.firstPart {
    width: 10%;
    height: 40px;
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}

.extra {
    height: 40px;
    width: 15%;
}

.secondPart {
    width: 20%;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.container2 {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #202C45;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.logo {
    height: 50px;
    width: 15%;
}

.navElements {
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extra2 {
    height: 50px;
    width: 10%;
}

.button {
    height: 66px;
    width: 6%;
}

.logo img {
    height: 45px;
}

#navButton {
    padding: 18px 32px ;
    background-color: rgb(211, 47, 47);
    color: white;
    border: none;

}

.elements a {
    text-decoration: none;
    color: white;
}

#nav_line {
    height: 2px;
    width: 100vw;
    background-color: rgb(211, 47, 47);
    border: none;
    position: sticky;
    top: 65px;

}
                             /* below NavBar */
.bg-image {
    height: 35vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://skillverse.com.pk/assets/website/images/institute/15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;


}
.bg-content {
    height: 40%;
    width: 10%;
    /* border: 2px solid yellow; */
    position: relative;
    top: 35%;
    left: 7%;
    color: white;
    


}
.bg-content h2 {
    font-size: 35px;
    font-weight: 400;
    opacity: 0.9;
}
.inner {
    margin-top: 20px;
}
.inner a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
    letter-spacing: 1.5px;
    font-size: 14px;
}
.inner span {
    padding-left: 20px;
    opacity: 0.8;
    letter-spacing: 1.5px;
    font-size: 14px;
}
                                              /* cards page */
.cards_page {
    height: 190vh;
    width: 100vw;
    /* border: 2px solid black; */
    background-color: whitesmoke;


}

.cards_container {
    height: 88%;
    width: 85%;
    /* border: 2px solid green; */
    margin: auto;
    display: flex;
    flex-direction: column;
}



.cards_box1 {
    height: 46%;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;

    justify-content: space-between;
    margin-top: 6%;
}
.cards_box2 {
    height: 46%;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;

    justify-content: space-between;
    /* margin-top: 2%; */
}
.card-A {
    height: 100%;
    width: 24%;
    /* border: 2px solid maroon; */
}

.card {
    height: 95%;
    width: 23%;
    display: flex;
    /* border: 2px solid maroon; */
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}


.picture {
    height: 50%;
    width: 100%;
    /* border: 2px solid mediumturquoise; */
}

.explain {
    height: 30%;
    width: 100%;
    /* border: 2px solid red; */
}

.buttoN {
    height: 10%;
    width: 100%;
    border: none;
    /* border: 2px solid mediumorchid; */
}

.card hr {
    height: 2px;
    width: 20%;
    background-color: rgb(211, 47, 47);
    margin-top: 15px;
    border: none;

}

.picture img {
    height: 100%;
    width: 100%;
}

.Heading {
    font-size: 20px;
    margin-top: 7px;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-weight: 400;
}

.Content {
    margin-top: 15px;
    letter-spacing: 0.5px;
    word-spacing: 2px;

}

.Buttons {
    background-color: #021130;

    opacity: 0.8;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 15px;
}

.explain {
    margin-left: 20px;
}

.heaDinG h1 {
    padding-top: 40px;
    font-weight: 400;
}

.heading_box hr {
    height: 2px;
    width: 5%;
    background-color: rgb(211, 47, 47);
    margin-top: 15px;
    border: none;


}

.heaDinG span {
    color:  rgb(211, 47, 47);
}
                              /* Side Content */
.red {
    color:  rgb(211, 47, 47);
}
.topMost {
    margin-top: 2%;
    word-spacing: 0.5px;
    opacity: 0.9;
}
.lower_headings {
    margin-top: 8%;
    word-spacing: 0.5px;
    opacity: 0.9;

}
.searchBar {
    height: 10%;
    width: 100%;
    /* border: 1px solid gold; */
    display: flex;
    margin-top: 5%;
}
.input_field {
    height: 100%;
    width: 80%;
    /* border: 1px solid rgb(170, 147, 147); */
}
.botton {
    height: 100%;
    width: 20%;
    border: 1px solid rgb(170, 147, 147);

}
.input_field input {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    font-size: 17px;
    background-color: transparent;
    border: 1px solid rgb(170, 147, 147);
}
.botton button {
    height: 100%;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    color: rgb(104, 91, 91);

}
.black_hori {
    height: 2px;
    width: 20%;
    background-color: rgb(73, 62, 62);
    border: none;
    margin-top: 3%;
}
#all15 {
    margin-top: 8%;
    margin-left: 5%;
    color: rgb(97, 97, 199);
    font-weight: 600;
}
.gray_hori {
     width: 100%;
     height: 3px;
    margin-top: 4%;
    border: none;
    border-top: 1px dashed rgb(39, 34, 34);
    opacity: 0.5;

}
.courses {
     padding-top: 5%;
}
.courses a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-size: 15px;

   
    
}
.Main {
    height: 65%;
    width: 100%;
    /* border: 1px solid green; */
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Parent {
    height: 27%;
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
}
.Child1 {
    height: 90%;
    width: 30%;
    /* border: 1px solid black; */

}
.Child2 {
    height: 100%;
    width: 70%;
    /* border: 1px solid navy; */
}
.Child1 img {
    height: 100%;
    width: 100%;
}
.inner_heading {
    margin-left: 5%;
    margin-top: 2%;
    font-weight: 400;
    font-size: 15px;
    opacity: 0.9;
    letter-spacing: 0.5px;
}
.inner_content {
    margin-left: 5%;
    margin-top: 2%;
    font-size: 12px;
    opacity: 0.7;
    line-height: 1.2;

}
.btnContainer {
    height: 4%;
    width: 15%;
    /* border: 2px solid green; */
    margin-left: 9%;
    margin-top: 3%;
    display: flex;
}
.btn {
    height: 100%;
    width: 20%;
    border: 1px solid rgb(194, 181, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.btn a {
        text-decoration: none;
 color: rgb(97, 97, 199);

}



